/* CSS Reset */
html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 90rem; /* 1440px converted to rem */
  margin: 0 auto; /* Prevent horizontal scroll */
}

/* Remove default link styles */
a {
  color: inherit;
}

/* Remove list styles */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* --------struggles and solutions-------- */

.struggles-solutions {
  text-align: center;
  padding: 3.125rem 0 0 0; /* 50px converted to rem */
  position: relative;
}

.title {
  font-size: clamp(1.5rem, 4vw, 2.5rem); /* Responsive text size using clamp */
  font-weight: 700;
  margin-bottom: 1.25rem; /* 20px converted to rem */
}

.struggles {
  color: #EE8725;
}

.solutions {
  color: #189B90;
}

.ss-subtitle {
  font-size: clamp(1rem, 2.5vw, 1.25rem); /* Responsive subtitle size */
  width: 70%;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.875rem; /* 30px converted to rem */
  margin-top: 3.125rem; /* 50px converted to rem */
}

.ss-subtitle span {
  color: #189B90;
}

/* Keyframes for scaling up and fading in */
@keyframes scaleUp {
  0% {
      opacity: 0;
      transform: scale(0.8);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

/* SVG Container */
.svg-container {
  margin-top: 14rem;
  text-align: center;
  position: relative;
  opacity: 0;
  animation: scaleUp 2s ease-out forwards;
}

.issues-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 6rem;
  margin-top: 2rem;
  width: 100%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.issue-title {
  background: #FAF7F0;
  padding: 0.3125rem 1.25rem; /* 5px 20px converted to rem */
  border-radius: 0.3125rem; /* 5px to rem */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px 4px to rem */
  text-align: center;
  width: 20%;
  font-weight: 700;
  margin: 0 auto;
  font-size: clamp(1rem, 3vw, 1.25rem); /* Responsive text size using clamp */
}

.issue {
  position: relative;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

.issue:nth-of-type(1) {
  animation-delay: 0.2s;
}

.issue:nth-of-type(2) {
  animation-delay: 0.4s;
}

.issue:nth-of-type(3) {
  animation-delay: 0.6s;
}

.issue:nth-of-type(4) {
  animation-delay: 0.8s;
}

.issue:nth-of-type(5) {
  animation-delay: 1s;
}

.issue:nth-of-type(6) {
  animation-delay: 1.2s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(1.25rem); /* 20px to rem */
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.info-comparison {
  display: flex;
  justify-content: center;
  padding: 1.25rem 0; /* 20px to rem */
}

.info-item {
  padding: 1.25rem; /* 20px to rem */
  border-radius: 0.3125rem; /* 5px to rem */
  width: 40%;
  opacity: 0;
  animation: scaleUp 1s ease-out forwards;
}

.info-title {
  background: #82C244;
  font-size: 1rem; /* Rem value */
  font-weight: 700;
  color: #FFFF;
  border-radius: 0.3125rem; /* 5px to rem */
  border: 0.09375rem solid #B4CBDB; /* 1.5px to rem */
  padding: 0.9375rem 2.4375rem; /* 15px 39px to rem */
  margin: 0 auto;
  width: 40%;
}

.info-text {
  border-radius: 0.3125rem; /* 5px to rem */
  border: 0.09375rem solid #82C244; /* 1.5px to rem */
  font-size: 1rem; /* 16px to rem */
  line-height: 1.5;
  font-weight: 300;
  margin: 1.25rem auto; /* 20px to rem */
  width: 50%;
  text-align: left;
  padding: 0.375rem 0.625rem; /* 6px 10px to rem */
}

/* SVG Connect */
.svg-connect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.svg-connect img {
  max-width: 100%;
  height: auto;
}


/* --------------Google & Facebook ads----------------- */

.google-fb {
  width: 100%;
  min-height: 100vh;
  padding: 3.125rem; /* 50px -> 3.125rem */
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition for the content */
}

.google-fb::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url('./images/bldgBG.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.google, .facebook {
  opacity: 0;
  visibility: hidden;
  display: none; /* Hide elements initially */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(3.125rem); /* 50px -> 3.125rem */
}

.google.active, .facebook.active {
  display: block; /* Ensure the active section is visible */
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Slide back to normal position */
}

/* Pagination dots styling */
.gf-pagination-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.gf-dot {
  cursor: pointer;
}

/* Adjust text sizes */
.gf-title h2, 
.gf-subtitle h3, 
.gf-subtitle p {
  text-align: left;
  margin-left: 9.375rem; /* 150px -> 9.375rem */
}

.gf-title h2 {
  font-size: clamp(2rem, 5vw, 3.125rem); /* Responsive size between 32px and 50px */
  color: #189B90;
}

.gf-bolden {
  font-weight: 700;
  color: #189B90;
}

.gf-subtitle p {
  font-size: clamp(1rem, 2.5vw, 1.25rem); /* Adjusted with clamp */
  width: 59%;
  font-weight: 300;
  text-align: left;
  margin-left: 9.375rem; /* 150px -> 9.375rem */
  line-height: 1.875rem; /* 30px -> 1.875rem */
}

.steps-container {
  position: relative; /* Keeps it in the background */
  z-index: 1; /* Lower z-index to stay behind other content */
}

.steps-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns */
  grid-column-gap: 6.25rem; /* 10rem -> 6.25rem (160px) */
  grid-row-gap: 1.5rem; /* 24px -> 1.5rem */
  width: 100%; /* fine a width for the container */
  position: absolute; /* Allows precise positioning */
  top: 18.75rem; /* 300px -> 18.75rem */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Shift left by 50% of its own width */
  z-index: 2; /* Higher z-index to stay on top */
}

.steps-list {
  display: contents; /* Makes the ul act as a grid container */
}

.step-item {
  display: flex;
  align-items: center;
  border: 1px solid #68B1FC; /* Border around each list item */
  border-radius: 0.25rem; /* 4px -> 0.25rem */
  padding: 0.5rem;
  position: relative;
  margin: 0 auto;
  width: 15.625rem; /* 250px -> 15.625rem */
  text-align: left;
}

.gf-description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem; /* 20px -> 1.25rem */
}

.gf-number {
  opacity: 0;
}

/* Zigzag pattern */
.step-item:nth-child(odd) {
  grid-column: 1; /* Align odd items to the first column */
  margin-bottom: 2rem; /* Space between rows */
  transform: translateY(0); /* No vertical shift */
}

.step-item:nth-child(even) {
  grid-column: 2; /* Align even items to the second column */
  margin-bottom: 2rem; /* Space between rows */
  transform: translateY(1rem); /* Shift even items down for zigzag effect */
}

/* Adjust vertical positioning for specific steps */
.step-item:nth-child(2) {
  transform: translateY(2rem); /* Further shift step 2 down */
}

.step-item:nth-child(4) {
  transform: translateY(3rem); /* Further shift step 4 down */
}

.step-item:nth-child(6) {
  transform: translateY(4rem); /* Further shift step 4 down */
}